<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edz.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".global.MyApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5ad40be7b27b0a0edb0000ad" />


        <meta-data android:name="UMENG_CHANNEL" android:value="City运营" />
        <!--<meta-data android:name="UMENG_CHANNEL" android:value="City华为" />-->
        <!--<meta-data android:name="UMENG_CHANNEL" android:value="CityOPPO" />-->
        <!--<meta-data android:name="UMENG_CHANNEL" android:value="CityVIVO" />-->
        <!--<meta-data android:name="UMENG_CHANNEL" android:value="CityFlyme" />-->
        <!--<meta-data android:name="UMENG_CHANNEL" android:value="CityFlyme小米" />-->
        <!--<meta-data android:name="UMENG_CHANNEL" android:value="CityFlyme腾讯" />-->
        <!--<meta-data android:name="UMENG_CHANNEL" android:value="CityFlyme百度" />-->

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Web2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebThirdActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.PushActivity"
            android:launchMode="singleTask"
            android:exported="true" ></activity>
    </application>

</manifest>